.wrapperMenuItem {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  .textMenuElement {
    height: 100%;
    color: black;
    display: flex;
    align-items: center;

    &.textMenuElement:hover {
      position: relative;

      &.textMenuElement::after {
        content: '';
        height: 0;
        width: 100%;
        border-bottom: 3px solid orange;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 10%;
    opacity: 0;
    transition: 0.5s;
  }

  .activeModal {
    @extend .modal;
    opacity: 1;
  }

  .modalContent {
    width: 90%;
    padding: 5px 0 0 5px;
    background: rgb(100%, 100%, 100%, 1);
    border: 1px ridge rgba(138, 138, 138, 0.1);
    position: absolute;
    top: 100%;
    transform: scale(0.5);
    transition: 0.5s all;
  }

  .activeModalContent {
    @extend .modalContent;
    transform: scale(1);
    display: flex;
    padding-left: 30px;

    .textSubElement {
     margin: 0 45px 5px 15px;
      font-weight: 500;

      .textSubSubElement {
        margin: 0 0 5px 0;
        font-size: 80%;
      }
    }
  }
}