.wrapperMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  .modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 75px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;

    @media (max-width: 1000px) {
      top: 50px;
    }
  }

  .activeModal {
    @extend .modal;
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
  }

  .modalContent {
    width: 86%;
    padding: 5px 0 0 5px;
    background: rgb(100%, 100%, 100%, 1);
    border: 1px ridge rgba(138, 138, 138, 0.1);
    position: fixed;
    top: 10%;
    display: none;
  }

  .activeModalContent {
    @extend .modalContent;
    width: 86%;
    display: flex;
    padding: 0 25px;
    top: 74px;

    @media (max-width: 1000px) {
      width: 100vw;
      display: flex;
      position: fixed;
      top: 50px;
      padding: 0;
      margin-bottom: 300px;
    }

    .textSubElement {
      margin: 0 55px 5px 55px;
      font-weight: 500;

      .textSubSubElement {
        margin: 0 0 5px 0;
        font-size: 80%;
      }
    }
  }
}