.wrapperHeader {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: white;

  @media (max-width: 376px) {
    height: 8%;
  }

  @media (max-width: 320px) {
    height: 9%;
  }

  .menuItem {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 1000px) {
      display: none;
    }

    .textMenuElement {
      height: 100%;
      color: black;
      display: flex;
      align-items: center;
      margin-left: 47px;

      &.textMenuElement:hover {
        position: relative;

        &.textMenuElement::after {
          content: '';
          height: 100%;
          width: 100%;
          border-bottom: 3px solid orange;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .burgerMenuButton {
    position: absolute;
    top: 10px;
    right: -150px;
    display: none;

    @media (max-width: 1000px) {
      height: 45px;
      width: 45px;
      display: block;
      position: relative;
      top: 0;
      left: 460px;
    }

    @media (min-width: 768px) {
      left: 345px;
    }

    @media (max-width: 415px) {
      height: 37px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 175px;
    }

    @media (max-width: 376px) {
      height: 37px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 155px;
    }

    @media (max-width: 320px) {
      height: 37px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 125px;
    }
  }
}